{% extends 'base.html.twig' %}
{% block main %}
<main id="center">
    <img src="assets/logo.svg" id="logo">
    <form method="POST" action="/yunohost/portalapi/login?referer_redirect">
	<div id="login-line">
		<img src="assets/user.svg">
		<input type="text" name="username" id="username" placeholder="Username">
	</div>
	<div id="login-line">
		<img src="assets/password.svg">
		<input type="password" name="password" id="password" placeholder="Password">
	</div>
	<div id="login-line">
		<input type="submit" id="submit-login" value="LOG IN">
	</div>
    </form>
  </body>
</main>
{% endblock %}
